@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  font-family: "Jost", sans-serif;
}

nav {
  z-index: 99 !important;
}

.gradientBg {
  background: linear-gradient(99deg, #fac06a, #60380a 100%);
}

.button {
  @apply bg-primary text-white rounded-md px-4 py-2 hover:bg-tartiary;
}
